@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: 'Fredoka One', cursive;
   background: rgb(189, 186, 186);
}
.wrapper {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.wrapper header {
   text-align: center;
   color: #666;
   font-size: 24px;
   letter-spacing: 2px;
   margin: 5px 15px;
}
.eror-container {
   font-size: 230px;
   font-weight: 700;
   text-align: center;
   margin: 50px 15px 10px;
   padding: 20px 15px;
}
.eror-container > span {
   display: inline-block;
   line-height: 0.7;
   position: relative;
}
.eror-container > span > span {
   display: inline-block;
   position: relative;
}


/* ---FIRST FIGURE-------------- */
.eror-container > span:nth-of-type(1) {
   perspective: none;
   perspective-origin: 50% 50%;
   color: #F6416C;
}
.eror-container > span:nth-of-type(1) > span {
   transform-origin: 100% 100% 0px;
   transform: rotate(0);
   animation: animthree 8s infinite;
}
@keyframes animthree {
   0% {
      transform: rotate(0); 
   }
   10% {
      transform: rotate(-15deg); 
   }
   15% {
      transform: rotate(-38deg); 
   }
   70% {
      transform: rotate(-38deg); 
   }
   80% {
      transform: rotate(0); 
   }
   100% {
      transform: rotate(0); 
   }
}

/* ---SECOND FIGURE-------------- */
.eror-container > span:nth-of-type(2) {
   perspective: none;
   perspective-origin: 50% 50%;
   color: #FFDE7D;
}
.eror-container > span:nth-of-type(2) > span {
   transform-origin: 50% 100%;
   transform: rotate(0);
   animation: animtwo 2s infinite linear;
}
@keyframes animtwo {
   0% {
      transform: rotate(0); 
   }
   30% {
      transform: rotate(35deg); 
   }
   60% {
      transform: rotate(-35deg); 
   }
}

/* ---ЕРШКВ FIGURE-------------- */
.eror-container > span:nth-of-type(3) {
   perspective: 1000px;
   perspective-origin: 500% 50%;
   color: #00B8A9;
}
.eror-container > span:nth-of-type(3) > span {
   transform-origin: 50% 100% 0px;
   transform: rotateX(0);
   animation: animfirst 8s infinite;
}
@keyframes animfirst {
   0% {
      transform: rotateX(0); 
   }
   7% {
      transform: rotateX(230deg); 
   }
   11% {
      transform: rotateX(130deg); 
   }
   13% {
      transform: rotateX(220deg); 
   }
   15% {
      transform: rotateX(140deg); 
   }
   18% {
      transform: rotateX(200deg); 
   }
   20% {
      transform: rotateX(170deg); 
   }
   24% {
      transform: rotateX(180deg); 
   }
   60% {
      transform: rotateX(180deg); 
   }
   80% {
      transform: rotateX(0); 
   }
   100% {
      transform: rotateX(0); 
   }
}


